<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <div class="logo">
            <p id="logo">H</p>
        </div>
        <div class="nav">
            <a routerLink="/home" routerLinkActive="active" id="home">Home</a>
            <a routerLink="/skills" routerLinkActive="active" id="skills">Skills</a>
            <a routerLink="/services" routerLinkActive="active" id="services">Projects</a>
            <a routerLink="/achievements" routerLinkActive="active" id="achievements">Achievements</a>
            <a routerLink="/contact" routerLinkActive="active" id="contact">Contact</a>

        </div>
    </div>
</body>