body {
    scroll-behavior: smooth;
}

.main {
    height: auto;
    width: auto;
    background-color: #1E1E1E;
    backdrop-filter: blur(5px);
    align-items: center;
    display: flex;
    padding: 13px 20px;
    justify-content: space-between;
}

#logo {
    background: linear-gradient(to right, #fa709a 40%, #fee140 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Seaweed Script', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
    width: 3rem;
    padding-left: 1rem;
}

.nav {
    padding-right: 2rem;
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: Syne;
    font-weight: 400;
    font-size: larger;
    cursor: pointer;
}

a:hover {
    color: #fee140 !important;
}



@media screen and (min-width: 829px) {
    .nav {
        display: flex;
        align-items: center;
        gap: 3rem;
    }

    .nav a {
        text-decoration: none;
        color: #fff;
    }
}