<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <div class="logo">
            <p id="logo">H</p>
        </div>
        <div class="nav">
            <a (click)="scrollToSection('home')">Home</a>
            <a (click)="scrollToSection('skills')">Skills</a>
            <a (click)="scrollToSection('services')">Projects</a>
            <a (click)="scrollToSection('timeline')">Timeline</a>
            <a (click)="scrollToSection('achievements')">Achievements</a>
            <a (click)="scrollToSection('contact')">Contact</a>
        </div>

    </div>


</body>