<body>
    <div class="main">
        <div class="logo">
            <img src="../../assets/Group 1000003386.png\" alt="" id="logo">
        </div>
        <div class="nav">
            <a routerLink="/home" routerLinkActive="active" id="home">Home</a>
            <a routerLink="/skills" routerLinkActive="active" id="skills">Skills</a>
            <a routerLink="/services" routerLinkActive="active" id="services">Projects</a>
            <a routerLink="/achievements" routerLinkActive="active" id="achievements">Achievements</a>
            <a routerLink="/contact" routerLinkActive="active" id="contact">Contact</a>

        </div>
    </div>
</body>