<div class="parent">
    <div class="main">
        <p id="heading">Achievements</p>
        <div class="certi">
            <div *ngFor="let certificate of certificates" class="certi-item">
                <img [src]="certificate.imageUrl" [alt]="certificate.alt" />
            </div>
        </div>
        <div>
            <button class="button"
                onclick="window.location.href='https://drive.google.com/drive/folders/1ml4Bll0LrGolO4P3N2YV1FptMC9oXweK?usp=sharing'">
                <span class="button_lg">

                    <span class="button_sl"></span>
                    <span class="button_text">Other Certification's</span>

                </span>
            </button>
        </div>

    </div>
</div>