<body>
    <p id="heading">Timeline</p>
    <div class="body">

        <div class="timeline">
            <ul>

                <li>
                    <span> March 2023</span>
                    <div class="content">
                        <h3>IIT Pals Innowah</h3>
                        <p>
                            I earned a place in the prestigious finals of the national-level event, "PALS Innowah,"
                            hosted
                            by IIT College. Among an
                            elite group of finalists, I proudly presented my project, making a significant impact on the
                            esteemed IIT community.
                            This achievement stands as a testament to my dedication and innovation in the field.
                        </p>
                    </div>
                </li>

                <li>
                    <span> November 2022</span>
                    <div class="content">
                        <h3>Emids Healthcare Hackathon</h3>
                        <p>
                            Distinguished participation in the prestigious Emids Healthcare Hackathon at the national
                            level,
                            advancing to the
                            semi-finals, showcases my significant contributions in the healthcare innovation domain. I
                            presented a compelling
                            prototype, reflecting my dedication to transformative healthcare solutions.
                        </p>
                    </div>
                </li>

                <li>
                    <span> August 2022</span>
                    <div class="content">
                        <h3>Angular Developer Intern</h3>
                        <p>
                            During a three-month internship at WC Enterprises, I played a key role in developing an
                            Angular-based network project.
                            This project enables businesses to securely manage customer contacts, leveraging pagination
                            for
                            data organization, UUID
                            for login security, and local storage for efficient data storage and retrieval. My
                            contribution
                            reflects a commitment to
                            industry-standard technologies and professional software development practices.
                        </p>
                    </div>
                </li>
                <li>
                    <span> June 2022</span>
                    <div class="content">
                        <h3>Backend API Developer</h3>
                        <p>
                            During my one-month internship, I developed three Node.js APIs for PostgreSQL, utilizing
                            HTTP,
                            Postman, and Insomnia.
                            These APIs served distinct functions: one for retrieving records, and another for creating
                            and
                            inserting new entries
                            into the database. This experience showcased my ability to design and implement efficient
                            data
                            management solutions,
                            strengthening my expertise in backend development.
                        </p>
                    </div>
                </li>
                <li>
                    <span> December 2021</span>
                    <div class="content">
                        <h3>Color Adaptive Portfolio</h3>
                        <p>
                            Experience the vibrancy of a dynamic website crafted with HTML, CSS, and JavaScript. A fully
                            responsive design ensures
                            seamless adaptability across devices. Immerse yourself in real-time, full-screen color
                            changes,
                            enhancing your online
                            journey with a captivating visual experience. </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>