<body>
    <!-- cube animation -->
    <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <div class="parent">
        <div class="main1">
            <p id="p1">Connect Now!</p>
            <p id="p2">Let's Build Your Vision into Reality, Reach Out Today!</p>
        </div>


        <div class="headings">
            <div>

                <div>
                    <h2 id="headn">Phone</h2>
                    <a href="tel:+919790909162" id="no" target="_blank" rel="noopener noreferrer">+91-9790909162</a>
                </div>


                <div>


                    <h2 id="heads">Social</h2>
                    <div id="icons">


                        <a href="https://github.com/harish18092002" target="_blank" rel="noopener noreferrer"><img
                                src="../../assets/avatar/github.svg" id="git" alt="GitHub Profile"></a>

                        <a href="https://www.linkedin.com/in/harish-a-965320214" target="_blank"
                            rel="noopener noreferrer"> <img src="../../assets/avatar/linkedin.svg" id="git"
                                alt="Linkedin Profile">
                        </a>

                        <a href="https://wa.me/919790909162" target="_blank" rel="noopener noreferrer"> <img
                                src="../../assets/avatar/whatsapp.svg" id="git" alt="Whatsapp Profile"></a>

                        <a href="https://www.instagram.com/h__a__r__i__s___h/" target="_blank"
                            rel="noopener noreferrer"> <img src="../../assets/avatar/instagram.svg" id="git"
                                alt="Instagram Profile"></a>

                        <a href="https://twitter.com/HarishA75803797" target="_blank" rel="noopener noreferrer"> <img
                                src="../../assets/avatar/twitter.svg" id="git" alt="Twitter Profile"></a>
                        <a href="https://www.fiverr.com/s/kRA0mQ" target="_blank" rel="noopener noreferrer"> <img
                                src="../../assets/avatar/icons8-fiverr.svg" id="git" alt="Fiverr Profile"></a>

                    </div>
                </div>
            </div>

            <div class="main2">
                <h2 id="heade">Email</h2>
                <a href="https://mail.google.com/mail/?view=cm&to=harish18092002@gmail.com"
                    id="mp">harish18092002&#64;gmail.com</a>
            </div>
        </div>


    </div>
    <div class="policy">
        <span>&#64;❤️from H&#64;ri$h</span>
    </div>
</body>