<body>
    <!-- cube animation -->
    <div class="hero">
        <div class="cube"></div>
        <div class="cube"></div>
    </div>
    <div class="parent">
        <div class="main1">
            <p>Connect Now!,</p>
            <p>Let's Build Your Vision into Reality, Reach Out Today!</p>
        </div>


        <div class="headings">
            <div>

                <div>
                    <h2 id="headn">Phone</h2>
                    <a href="tel:+919790909162" id="no">+91-9790909162</a>
                </div>


                <div>


                    <h2 id="heads">Social</h2>
                    <div id="icons">


                        <a href="https://github.com/harish18092002"><img src="../../assets/avatar/github.svg"></a>

                        <a href="https://www.linkedin.com/in/harish-a-965320214"> <img
                                src="../../assets/avatar/linkedin.svg">
                        </a>

                        <a href="https://wa.me/919790909162"> <img src="../../assets/avatar/whatsapp.svg"></a>

                        <a href="https://www.instagram.com/h__a__r__i__s___h/"> <img
                                src="../../assets/avatar/instagram.svg"></a>

                        <a href="https://twitter.com/HarishA75803797"> <img src="../../assets/avatar/twitter.svg"></a>
                    </div>
                </div>
            </div>

            <div class="main2">
                <h2 id="heade">Email</h2>
                <a href="https://mail.google.com/mail/?view=cm&to=harish18092002@gmail.com"
                    id="mp">harish18092002@gmail.com</a>
            </div>
        </div>
        <div class="policy">
            <span>@❤️from H@ri$h</span>
        </div>

    </div>
</body>