body {
    background-color: #131011;
    height: 50vh;
    /* padding: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    z-index: 8;
    height: 95%;
    width: 98%;
    background-color: black;
    background-color: rgba(255, 255, 255, 0.141);
    backdrop-filter: blur(90px);
    border-radius: 7px;
}

.bgcrc {
    margin-left: 30rem;
    position: absolute;
    height: 14rem;
    width: 14rem;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    border-radius: 20rem;
    animation: play 8s ease-in forwards infinite alternate;

}

@keyframes play {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(100%);
    }

    50% {
        transform: translateY(100%);
    }


    75% {
        transform: translateX(0%);
    }

    100% {
        transform: translateY(70%);
    }
}