body {
    background-color: #131011;
    height: 35vh;
    width: 100%;
    position: relative;
}


.parent {
    z-index: 8;
    height: 94%;
    width: 100%;
    background-color: #3d3d3d3c;
    backdrop-filter: blur(5px);

}

.headings {
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
}

.main1 {
    padding-top: 1%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#p1 {
    font-size: 1.9rem;
    font-weight: 500;
    color: #A6A001;
}

#p2 {
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 400;
}

.policy {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 8%;
    right: 4%;
}

/* for square */

.cube {
    position: relative;
    top: 27vh;
    left: 70vw;
    width: 10px;
    height: 10px;
    border: solid 1px #9d9d9d;
    transform-origin: top left;
    transform: scale(0) rotate(0deg) translate(-50%, -50%);
    -webkit-animation: cube 12s ease-in forwards infinite;
    animation: cube 12s ease-in forwards infinite;
}

.cube:nth-child(2n) {
    border-color: #d6d28d;
}

.cube:nth-child(2) {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    left: 17vw;
    top: 20vh;
}




@-webkit-keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(10) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }

    to {
        transform: scale(10) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}



#no,
#mp {
    font-size: 1.3rem;
    color: #FFF;
    text-decoration: none;
}


#headn,
#heade,
#heads {
    font-weight: 400;
    font-family: ABeeZee;
    font-style: italic;
    margin-top: 0.3rem;
    color: #A6A001;
    margin-bottom: 0.7rem;
    font-size: 1.5rem;
}

#icons {
    margin-top: 0.3rem;
    display: flex;
    gap: 2rem;
    filter: invert(1);
}

#icons,
a,
img {
    height: 1.5rem;
}

@media screen and (max-width: 1195px) {
    .parent {
        padding-top: 5%;
        padding-bottom: 8%;
    }

    body {
        height: auto;
    }

    .main1 {
        gap: 0;
    }

    .headings {
        margin-top: 1.5rem;
    }

    #p1 {
        font-size: 1.5rem;

    }

    #p2 {
        font-size: 1.3rem;

    }

    #headn,
    #heade,
    #heads {
        font-weight: 300;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    #no,
    #mp {
        font-size: 1.3rem;
    }

    #icons,
    a,
    img {
        height: 1.2rem;
        /* margin-bottom: 2rem; */
    }
}

@media screen and (max-width: 750px) {
    body {
        height: auto;
    }

    .main1 {
        gap: 0;
    }

    .headings {
        padding-left: 5%;
        margin-top: 1.5rem;
        display: block;
    }

    #p1 {
        font-size: 1.5rem;

    }

    #p2 {
        font-size: 1.3rem;

    }

    #headn,
    #heade,
    #heads {
        font-weight: 300;
        margin-top: 0.2rem;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
    }

    #no,
    #mp {
        font-size: 1.3rem;
    }

    #icons,
    a,
    img {
        height: 1.2rem;
        /* margin-bottom: 2rem; */
    }
}