.parent {
    height: 100vh;
    background-color: #131011;
}

.main1 {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#skills {
    padding-bottom: 2rem;
    color: #A6A001;
    font-family: ABeeZee;
    font-size: 49px;
    font-style: italic;
    font-weight: 400;

}

.navbox {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #1E1E1E;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    height: 2.2rem;
    width: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10px;
    border: #A6A001;
    font-family: ABeeZee;
    font-size: 18px;
    font-weight: 200;

}

.images {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    width: 30rem;

}

.images img {
    flex-grow: 1;
    /* Adjust spacing between images */
    margin: 10px;
    /* Adjust spacing between images */
}

p {
    color: #FFF;
    font-family: Syne;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}