body {
    height: auto;
}

.parent {
    /* height: auto; */
    background-color: #131011;
    position: relative;
    display: block;
    align-content: center;
}

.main1 {
    z-index: 5;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

#skills {
    padding-bottom: 2rem;
    color: #A6A001;
    /* font-family: 'Seaweed Script', cursive; */
    font-family: 'Nothing You Could Do', cursive;
    font-size: 49px;
    font-style: italic;
    font-size: 49px;
    font-weight: 400;

}

.navbox {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #1E1E1E;
}

.buttons {
    display: flex;
    gap: 1rem;
}

button {
    height: 2.2rem;
    width: 7rem;
    text-align: center;
    border-radius: 10px;
    border: #A6A001;
    /* font-family: 'Seaweed Script', cursive; */
    /* font-family: 'Simonetta', serif; */
    font-family: 'Simonetta', serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;

}

.images {
    margin-top: 2rem;
    display: flex;
    width: 35rem;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.images img {
    flex-grow: 1;
    /* Adjust spacing between images */
    margin: 10px;
    /* Adjust spacing between images */
}


.area {
    position: absolute;
    z-index: 1;
    bottom: 20vh;
    left: 0;
    width: 100%;

}

.circles {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;

}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    opacity: 0;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

/* .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
} */



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media screen and (min-width: 250px) and (max-width: 420px) {

    .circles li:nth-child(1) {
        left: 15%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2) {
        left: 5%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 50%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 30%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 45%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        display: none;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        display: none;
    }

}

@media screen and (max-width: 650px) {
    .navbox {
        padding: 5px;
        border-radius: 10px;
    }

    .buttons {
        display: flex;
        gap: 0.5rem;
    }

    button {
        height: 4vh;
        width: 15vw;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 90;
        cursor: pointer;
        /* gap: 7px; */

    }

    .images {
        width: 80%;
    }
}

@media screen and (min-width: 650px) and (max-width: 768px) {
    .navbox {
        padding: 5px;
        border-radius: 10px;
    }

    .buttons {
        display: flex;
        gap: 0.2rem;
    }

    button {
        height: 5vh;
        width: 15.6vw;
        border-radius: 10px;
        font-size: 17px;
        font-weight: 170;
        cursor: pointer;
        gap: 10px;

    }

    .images {
        width: 30rem;
    }
}