<div class="parent">
    <div class="main">
        <p id="heading">Projects</p>
        <div class="certi">
            <div *ngFor="let certificate of projects" class="certi-item">

                <img [src]="certificate.imageUrl" />
                <div class="description">
                    <span id="subhead">Technologies : </span><span id="desc">{{certificate.technologies}}</span>
                    <span id="subhead">About : </span><span id="desc">{{certificate.description}}</span>
                    <a [href]="certificate.link" id="more">Know more</a>
                </div>
            </div>
        </div>

    </div>
</div>