.parent {
    height: auto;
    background-color: #131011;
    position: relative;

}

.main {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#heading {
    color: #A6A001;
    font-family: 'Seaweed Script', cursive;
    font-size: 49px;
    font-weight: 400;
}


.certi {
    display: grid;
    padding: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;

}

.certi img {
    height: 100%;
    width: 100%;
    border-radius: 15px;

}

.certi-item {
    position: relative;
    overflow: hidden;
}

.description {
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(64, 64, 64, 0.8);
    border-radius: 10px;
    color: #fff;
    transition: bottom 0.1s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    /* text-align: left; */
}

#subhead {
    padding-left: 0.5rem;
    color: #e1da13;
    font-family: ABeeZee;
    font-size: 17px;
    font-style: italic;
    font-weight: 200px;
}

#desc {
    padding-right: 0.8rem;
    padding-left: 0.5rem;
    font-size: 15px;
    font-weight: 10px;
    /* padding: 12px; */
}

.certi-item:hover .description {
    bottom: 0;

}

#more {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #A6A001;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 37%;
    height: 10%;
    font-weight: 650;
    height: 1.5rem;
    /* border: 3px solid#1E1E1E; */
}



#more:hover {
    box-shadow: 2px 2px 8px #000000;
}