<div class="parent">
    <div class="main">
        <p id="heading">Projects</p>
        <div class="certi">
            <div *ngFor="let certificate of projects" class="certi-item">
                <a [href]="certificate.link">
                    <img [src]="certificate.imageUrl" /></a>
                <div class="description">
                    <!-- {{ certificate.description }}</div> -->
                    <span id="subhead">Technologies : </span><span id="desc">{{certificate.technologies}}</span><br>
                    <span id="subhead">About : </span><span id="desc">{{certificate.description}}</span>
                </div>
            </div>
        </div>

    </div>
</div>