<app-header></app-header>

<body>
    <div class="main1">
        <div class="main2">
            <p id="p1">Hey There,</p>
            <p id="p2">I’m <span id="s1">Harish</span>
                <br>
                A UXUI Designer
            </p>
            <p id="p3">Design Club is a digital agency specialized in ecommerce. We build scalable, high-end web shops
                with
                composable commerce
                architecture.</p>
        </div>
        <div class="main3">
            <div class="submain">
                <img src="../../assets/uncle.png" id="uncle">

            </div>

        </div>
    </div>
</body>

<app-services></app-services>