body {
    background-color: #131011;
}

.main1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: space-around;
    gap: 5rem;
    padding-left: 7rem;
    /* padding-top: 5rem; */
    color: #FFF;
    font-family: Syne;
    font-style: normal;
    font-weight: 400;

}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;

}


#uncle {
    height: 100vh;
    width: 90%;
}



#p1 {
    font-size: 24px;
    font-family: 'Simonetta', serif;
}

#p2 {
    font-size: 50px;
    font-family: 'Simonetta', serif;

}

#s1 {
    color: #A6A001;
    font-family: 'Simonetta', serif;
}

#p3 {
    font-size: 22px;
    line-height: 2rem;
    font-family: 'Simonetta', serif;
}

#resume {
    margin-top: 2rem;
    display: flex;
    height: auto;
    height: 3rem;
    width: 12rem;
    border-radius: 30px;
    border: 3px solid #A6A001;
    background: #333;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Nothing You Could Do', cursive;
    line-height: 35px;
    text-decoration: none;
}

#resume:hover {
    box-shadow: 2px 2px 30px #A6A001;
}

#icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    filter: invert(1);
}

#git:hover {
    transform: scale(1.5);
}

@keyframes rotateIcons {
    from {}

    /* to {
        transform: rotate(-45deg);
    } */
}

#icons,
a,
img {
    height: 1.3rem;

}

#down {
    filter: invert(1);
    height: 1.2rem;
    padding-left: 1rem;
}

@media screen and (max-width: 1195px) {
    .main1 {
        margin-top: 10rem;
        grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
        padding-left: 4%;
    }

    #p1 {
        font-size: 22px;
    }

    #p2 {
        font-size: 38px;
    }

    #s1 {
        font-size: 38px;
        color: #A6A001;
    }

    #p3 {
        font-size: 20px;
        line-height: 2rem;
    }

    #uncle {
        height: 80%;
        width: 80%;
    }
}