<app-header></app-header>
<div id="home">

    <div class="main1">
        <div class="main2">
            <p id="p1">Hey There,</p>
            <p id="p2">I’m <span id="s1">Harish</span>
                <br>A
                <span id="s1"> Full Stack Developer</span>
            </p>
            <p id="p3">Are you in search of a remarkable website? As an experienced web designer, I provide
                end-to-end
                solutions. From
                innovative concepts to technical precision, I ensure a seamless user experience. Explore my diverse
                portfolio and get in
                touch to transform your vision into digital reality!

            </p>

            <div class="con">

                <div id="icons">
                    <a href="https://github.com/harish18092002"><img src="../../assets/avatar/github.svg" id="git"></a>

                    <a href="https://www.linkedin.com/in/harish-a-965320214"> <img
                            src="../../assets/avatar/linkedin.svg" id="git">
                    </a>

                    <a href="https://wa.me/919790909162"> <img src="../../assets/avatar/whatsapp.svg" id="git"></a>

                    <a href="https://mail.google.com/mail/?view=cm&to=harish18092002@gmail.com"> <img
                            src="../../assets/avatar/envelope-fill.svg" id="git"></a>

                    <a href="https://www.instagram.com/h__a__r__i__s___h/"> <img src="../../assets/avatar/instagram.svg"
                            id="git"></a>

                    <a href="tel:+919790909162"> <img src="../../assets/avatar/telephone-fill.svg" id="git"></a>

                    <a href="https://twitter.com/HarishA75803797"> <img src="../../assets/avatar/twitter.svg"
                            id="git"></a>

                    <a href="https://www.fiverr.com/s/kRA0mQ"> <img src="../../assets/avatar/icons8-fiverr.svg"
                            id="git"></a>


                    <!-- 
                    <a href="tel:+919790909162" id="no">+91-9790909162</a> -->
                </div>
                <a id="resume" href="../../assets/One_page_resume.pdf" download="Resume.pdf">Resume <img
                        src="../../assets/avatar/download.svg" id="down"></a>
            </div>
        </div>
        <div class="main3">
            <div class="submain">
                <img src="../../assets/Resume-bro.svg" id="uncle">

            </div>

        </div>

    </div>
</div>


<div id="skills">
    <app-skills></app-skills>
</div>


<div id="services">
    <app-services></app-services>
</div>

<div id="timeline">
    <app-timeline></app-timeline>
</div>

<div id="achievements">
    <app-certification></app-certification>
</div>

<div id="contact">
    <app-contact></app-contact>
</div>