home {
    background-color: #131011;
    height: 100vh;
    display: flex;
}

.bottomneon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    animation: fade 2s ease-in-out 0s;
}


#mouse-scroll {
    style: block;
}

#mouse-scroll {

    margin: auto;

    justify-content: center;
    -webkit-transform: translateX(-50%);
    z-index: 9999;
}

#mouse-scroll span {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: rotate(45deg);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
    height: 21px;
    width: 14px;
    border-radius: 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    border: 2px solid #ffffff;
    top: 170px;
}

#mouse-scroll .down-arrow-1 {
    margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
}

#mouse-croll .down-arrow-1 {
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
    -webkit-animation-delay: .3s;
    -moz-animation-dekay: .3s;
    -webkit-animation-direction: alternate;
}

#mouse-scroll .mouse-in {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: #ffffff;
    position: relative;
}

#mouse-scroll .mouse-in {
    -webkit-animation: animated-mouse 1.2s ease infinite;
    moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

#downarrow :hover {
    background-color: #dfba37;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-1.4rem);

    }

    100% {
        transform: translateY(0);

    }
}

.main1 {
    height: 100%;
    margin-top: 8rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: space-around;
    gap: 5rem;
    padding-left: 7rem;
    color: #FFF;
    font-family: Syne;
    font-style: normal;
    font-weight: 400;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fade 2s ease-in-out 0s;

}


#uncle {
    text-align: center;
    height: 90%;
    width: 90%;
    animation: fade 2s ease-in-out 0s;
}

#p1 {
    font-weight: 300;
    font-size: 24px;
    font-family: 'Simonetta', serif;
}

#p2 {
    font-weight: 400;
    font-size: 50px;
    font-family: 'Simonetta', serif;

}

#s1 {
    font-weight: 500;
    color: #A6A001;
    font-family: 'Simonetta', serif;
}

.typehead {
    font-weight: 400;
    font-size: 50px;
    font-family: 'Simonetta', serif;
}

.type {
    font-weight: 500;
    color: #A6A001;
    font-family: 'Simonetta', serif;
    display: inline-block;
    background-color: #FBDA61;
    background-image: linear-gradient(45deg, rgb(223, 212, 55) 0%, #dfba37 20%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#p3 {
    font-weight: 300;
    font-size: 22px;
    line-height: 2rem;
    font-family: 'Simonetta', serif;
}

#resume {
    margin-top: 2rem;
    display: flex;
    height: auto;
    height: 3rem;
    width: 12rem;
    border-radius: 30px;
    border: 3px solid #A6A001;
    background: #333;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Nothing You Could Do', cursive;
    line-height: 35px;
    text-decoration: none;
}

#resume:hover {
    box-shadow: 2px 2px 30px #A6A001;
}

#icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 2rem;
    filter: invert(1);
    width: 50vh;
    justify-content: space-around;
}

#git:hover {
    transform: scale(1.5);
}


#icons,
a,
img {
    height: 1.3rem;

}

#down {
    filter: invert(1);
    height: 1.2rem;
    padding-left: 1rem;
}


@media (max-width:320px) {

    .main1 {
        width: 100vw;
        margin-top: 10rem;
        grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
        margin-left: 3%;
    }

    #p1 {
        font-size: 17px !important;
    }

    #p2 {
        font-size: 28px !important;
    }

    #s1 {
        font-size: 28px !important;
        color: #A6A001;
    }

    #p3 {
        font-size: 17px !important;
        line-height: 1rem;
    }

    #uncle {
        height: 80%;
        width: 80%;
        text-align: center;
    }

    .typehead {
        font-size: 27px !important;
    }

    .type {
        font-size: 27px !important;
    }
}

@media screen and (max-width: 1195px) {
    .main1 {
        margin-top: 10rem;
        grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
        padding-left: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #p1 {
        font-size: 22px;
    }

    #p2 {
        font-size: 28px;
    }

    #s1 {
        font-size: 28px;
        color: #A6A001;
    }

    #p3 {
        font-size: 20px;
        line-height: 1.8rem;
    }

    #uncle {
        display: none;
    }

    #icons,
    a,
    img {
        height: 1.2rem;

    }

    #icons {
        width: 48vh;
    }

    .typehead {
        font-size: 27px !important;
    }

    .type {
        font-size: 27px !important;
    }
}