<app-header></app-header>

<body>
    <div class="main1">
        <div class="main2">
            <p id="p1">Hey There,</p>
            <p id="p2">I’m <span id="s1">Harish</span>
                <br>A
                <span id="s1"> Full Stack Developer</span>
            </p>
            <p id="p3">Are you in search of a remarkable website? As an experienced web designer, I provide end-to-end
                solutions. From
                innovative concepts to technical precision, I ensure a seamless user experience. Explore my diverse
                portfolio and get in
                touch to transform your vision into digital reality!

            </p>

            <div class="con">

                <div id="icons">
                    <a href="https://github.com/harish18092002"><img src="../../assets/avatar/github.svg"></a>

                    <a href="https://www.linkedin.com/in/harish-a-965320214"> <img
                            src="../../assets/avatar/linkedin.svg">
                    </a>

                    <a href="https://wa.me/919790909162"> <img src="../../assets/avatar/whatsapp.svg"></a>

                    <a href="https://mail.google.com/mail/?view=cm&to=harish18092002@gmail.com"> <img
                            src="../../assets/avatar/envelope-fill.svg"></a>

                    <a href="https://www.instagram.com/h__a__r__i__s___h/"> <img
                            src="../../assets/avatar/instagram.svg"></a>

                    <a href="tel:+919790909162"> <img src="../../assets/avatar/telephone-fill.svg"></a>

                    <a href="https://twitter.com/HarishA75803797"> <img src="../../assets/avatar/twitter.svg"></a>

                    <!-- 
                    <a href="tel:+919790909162" id="no">+91-9790909162</a> -->
                </div>
                <a id="resume" href="../../assets/Two_page_resume.pdf" download="Resume.pdf">Resume <img
                        src="../../assets/avatar/download.svg" id="down"></a>
            </div>
        </div>
        <div class="main3">
            <div class="submain">
                <img src="../../assets/uncle.png" id="uncle">

            </div>

        </div>
    </div>

    <!-- <div class="area">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div> -->
</body>

<app-skills></app-skills>
<app-services></app-services>
<app-certification></app-certification>
<app-contact></app-contact>